<% layout("/layouts/boilerplate")%>
<br><br><br><br><br>
<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3 " role="alert">
        <h4 class="alert-heading">Something went wrong, Please try again!!</h4>
        <p><%=errMsg%></p>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
